language: python

os:
  - linux

dist: focal

python:
  - "3.8"
  - "3.9"
  - "3.10"

env:
  - FLAKE8=
  - FLAKE8=yes

jobs:
  allow_failures:
    - python: "3.8"
      env: FLAKE8=yes

sudo: false

install:
  - pip install numpy
  - pip install nltk
  - pip install scikit-learn
  - pip install pandas
  - pip install scipy
  - pip install tensorflow
  - pip install h5py
  - pip install keras
  - pip install shapely
  - pip install pytest
  - pip install pytest-cov
  - pip install requests
  - pip install google-cloud-language
  - |
    if [[ $FLAKE8 ]]; then
      pip install flake8
    else
      python -c "import nltk; nltk.download('punkt'); nltk.download('wordnet')"
      python -c "import requests;\
       r = requests.get('https://data.cityofchicago.org/api/geospatial/cauq-8yn6?method=export&format=GeoJSON');\
       f = open('Boundaries - Community Areas (current).geojson', 'w');\
       f.write(r.text)"
      mv "Boundaries - Community Areas (current).geojson" lib/tagnews/data/
      wget http://nlp.stanford.edu/data/glove.6B.zip --no-check-certificate
      python -c "import zipfile; myzip = zipfile.ZipFile('glove.6B.zip'); myzip.extract('glove.6B.50d.txt')"
      mv glove.6B.50d.txt lib/tagnews/data/
      rm glove.6B.zip
      mv lib/tagnews/data/ci-data/*.csv lib/tagnews/data/
    fi

before_script:
  - cd lib

script:
  - |
    if [[ $FLAKE8 ]]; then
      flake8 --ignore=E261,E226,E402,W503
    else
      python -m tagnews.crimetype.models.binary_stemmed_logistic.save_model
      python -m tagnews.geoloc.models.lstm.save_model 2
      python -m pytest --cov-report term-missing --cov=tagnews
    fi
